
Lab01/Calc/\.vs/Calc/v15/\.suo

*.db

*.ipch

*.sln

*.exe

*.ilk

*.pdb

*.obj

*.log

*.pch

*.tlog

*.idb

Lab01/Calc/Task1/pch\.cpp

*.h

*.vcxproj

*.filters

*.user

Lab01/Calc/Task4/pch\.cpp

Lab01/Calc/Task2/pch\.cpp

Lab01/Calc/Task3/pch\.cpp
